html {
  background-color: tomato;
}

body {
  margin: 400px;
  background-color: wheat;
  padding: 10px;
  width: 200px;
  height: 200px;
  border: solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div:nth-child(odd) {
  margin: 10px;
  width: 50px;
  border: solid white;
}
div:nth-child(even) {
  margin: 10px;
  width: 180px;
  border: dashed white;
}

div {
  background-color: teal;
  height: 50px;
}
