@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body {
  background-color: rgba(219, 118, 153, 0.849);
  width: 300px;
  height: 600px;
  display: flex;
  justify-content: center;
  border: solid 2px rgba(46, 23, 31, 0.849);
}

section {
  width: 95%;
  margin: 3%;
}

.Main-bar {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}
.Main-bar__column {
  width: 33.3%;
  height: 100%;
}
.Main-bar__column:first-child {
  display: flex;
  align-items: center;
}
.Main-bar__column:first-child i {
  margin-left: 10px;
  border-radius: 2px;
  padding-left: 1px;
  padding-right: 1px;
  border: dashed 1px rgba(189, 97, 129, 0.849);
  color: rgba(133, 62, 86, 0.849);
}
.Main-bar__column:nth-child(2) span {
  font-size: 15px;
  font-family: 'Patrick Hand', cursive;
  color: rgba(133, 62, 86, 0.849);
  font-weight: 900;
}
.Main-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Now-Music__image img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
.Now-Music {
  width: 100%;
  height: 20%;
  margin-top: 7%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}
.Now-Music__image {
  width: 40%;
  border: 1px dashed rgb(43, 82, 139);
  border-radius: 10%;
  box-sizing: border-box;
}
.Now-Music__column {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.Now-Music__Title {
  height: 70%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.Now-Music__Title span {
  font-size: 32px;
  font-family: 'Patrick Hand', cursive;
  font-weight: 800;
  color: rgba(250, 218, 229, 0.849);
  margin-left: 10px;
  line-height: 1;
}
.Now-Music__Artist {
  height: 30%;
  width: 100%;
}
.Now-Music__Artist span {
  font-family: 'Patrick Hand', cursive;
  color: rgba(250, 218, 229, 0.849);
  font-size: 15px;
  margin-left: 10px;
}
.btn-Menu {
  height: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
}
.btn-Menu__column {
  border-radius: 15%;
  box-sizing: border-box;
  border: solid rgba(102, 33, 57, 0.849);
  border-width: 1px 2px 3.5px 2px;
}
.btn-Menu__column:first-child {
  width: 38%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-Menu__column:first-child span {
  font-size: 20px;
  font-family: 'Patrick Hand', cursive;
  color: rgba(250, 218, 229, 0.849);
  margin-left: 10px;
}
.btn-Menu__column:first-child i {
  color: rgba(250, 218, 229, 0.849);
}
.btn-Menu__column:nth-child(2) {
  width: 22%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-Menu__column:nth-child(2) i {
  color: rgba(250, 218, 229, 0.849);
}
.btn-Menu__column:last-child i {
  color: rgba(250, 218, 229, 0.849);
}
.btn-Menu__column:last-child {
  width: 22%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  font-family: 'Patrick Hand', cursive;
  color: rgba(59, 29, 40, 0.849);
}

.playlist__items li {
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  list-style: none;
}
.playlist__items li:first-child {
  font-size: 20px;
}
.playlist__items li:last-child {
  font-size: 15px;
}
.playlist__items:first-child li:first-child {
  font-size: 20px;
}
