body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #6bbcbe;
}

.box {
  width: 70px;
  display: flex;
  justify-content: space-between;
  height: 9px;
}
.inside {
  display: flex;
  justify-content: space-evenly;
}
.box div {
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: white;
}

.box.inside div {
  border-radius: 0%;
  width: 9px;
  height: 33px;
  background-color: white;
  animation: incbar 1s ease-in-out infinite;
}

section div:first-child {
  animation: cir_rot 1s ease-in-out infinite;
}

.box.inside div:first-child {
  animation-delay: 0s;
}
.box.inside div:nth-child(2) {
  animation-delay: 0.1s;
}
.box.inside div:nth-child(3) {
  animation-delay: 0.2s;
}
.box.inside div:nth-child(4) {
  animation-delay: 0.3s;
}
.box.inside div:last-child {
  animation-delay: 0.4s;
}
section {
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@keyframes incbar {
  0% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(1);
  }
  40% {
    transform: scaleY(2);
  }
  60% {
    transform: scaleY(1);
  }
  80% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes cir_rot {
  0% {
    transform: rotate(-180deg);
  }
  60% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
