@import 'reset.css';
@import 'components/status-bar.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;800&display=swap');
@import 'components/playbtn.css';
@import 'components/playlist.css';
body {
  background-color: rgb(0, 0, 0, 0.7);
}
#whole-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 640px;
  height: 700px;
  background-color: whitesmoke;
}
.page-one,
.page-two {
  height: 600px;
  width: 280px;
  border-radius: 30px;
  background-color: white;
  position: relative;
}

.screen-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
}
.screen-header span {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}
.screen-header span:first-of-type {
  font-size: 20px;
  font-weight: 800;
  margin-top: 30px;
}
.screen-header span:last-of-type {
  font-size: 13px;
  font-weight: 400;
  margin-top: 12px;
  opacity: 0.7;
}
.screen-header img {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  box-shadow: 0px 10px 15px 1px rgb(15, 25, 33, 0.3);
}
.now-playing {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  width: 240px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(0, 0, 0, 0.9);
}
.now-playing div {
  margin-left: 20px;
}
.now-playing div h1:last-child {
  color: rgb(235, 235, 235, 235);
}
.now-playing div:last-child {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
.now-playing div:last-of-type i {
  color: white;
  margin: 0px 8px;
}

.song-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  width: 100%;
}
.song-screen__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.song-screen__column h1 {
  margin-bottom: 15px;
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
}

.song-screen__column:first-child img {
  width: 185px;
  height: 185px;
  display: block;
  box-shadow: 0px 10px 20px 0px rgb(111, 111, 111, 0.5);
  border-radius: 20px;
  margin: 40px 0px 40px 0px;
}
.song-screen__column h1:last-child {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.7;
}
.song-screen__column h1:first-child {
  font-size: 20px;
  font-weight: 800;
}
.play-bar {
  height: 80px;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.play-bar div {
  height: 3px;
  width: 210px;
  border: none;
  border-radius: 4px;
}
.play-bar div:first-child {
  background-color: rgb(111, 111, 111, 0.3);
}
.play-bar div:nth-child(2) {
  position: absolute;
  height: 3px;
  left: 25px;
  background-color: black;
  width: 140px;
}
.play-bar div:last-child {
  position: absolute;
  left: 165px;
  height: 5px;
  width: 5px;
  border-radius: 2.5px;
  background-color: black;
}

.now-play__btn i {
  margin: 0 20px;
}

.now-play__btn {
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.now-play__btn span {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.now-play__btn i:first-child,
.now-play__btn i:last-child {
  opacity: 0.5;
}

.now-play__btn span i {
  color: white;
  opacity: 1 !important;
}
/* 속성값을 재설정할때 사용  */
